

#imgR {
    border: 3px solid rgb(24, 0, 80);
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
}

#imgR {
    float: left;
}

#linea_hr {
    height: 3px;
    border: none;
    background-color: black;
}

#formRes {
    display: inline-block;
    vertical-align: top;
}

#formRes {
    float: right;
    width: 50%;
}

#bandas {
    display: inline-block;
    vertical-align: top;
}

#bandas {
    float: left;
    width: 50%;
}

#tolerancias {
    display: inline-block;
    vertical-align: top;
}

#tolerancias {
    float: right;
    width: 50%;
}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-left: 3px solid black;
}

thead {
    background-color: rgb(116, 5, 5);
    color: white;
    border-bottom: 3px solid black;
}

tr, td {
    border: 3px solid black;
    
}