{% extends "layout.html" %}

    {%block content%}

        {%from "_macros.html" import render_field%}
        <div class="container">
          <h1 style="text-align: center;">Bienvenid@ {{nom}}</h1>
          <div class="col-xs-6">
          
              <img src="../static/img/resistencias.jpg" width="427px" height="324px" id="imgR">
  
          </div>
          <br>
          <div class="contenedor-forms" id="formRes">
              <h2>Calculadora de resistencias</h2>
              <br>
              <form action="/resistencia" method="post" {{csrf_token}} >
                  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                  <div class="container" id="bandas">
                      {{render_field(form.banda1)}}
                      {{render_field(form.banda2)}}
                      {{render_field(form.banda3)}}
                  </div>
                  <div class="" id="tolerancias">
                      <h4>Elige la tolerancia:</h4>
                      
                      <input type="radio" name="rbtnTol" value="0.02" id="rbtnRojo" checked>
                      <label for="rbtnRojo">Rojo 2%</label>
  
                      <input type="radio" name="rbtnTol" value="0.05" id="rbtnOro">
                      <label for="rbtnOro">Oro 5%</label>
                      
                      <input type="radio" name="rbtnTol" value="0.10" id="rbtnPlata">
                      <label for="rbtnPlata">Plata 10%</label>
                      <br>
                      <button class="btn btn-warning" type="submit" onclick="colores2()">Calcular</button>
                  </div>
              </form>
          </div>
        </div>
        <hr id="linea_hr">
        <br>
        <center>
          <table class="table-primary">
            <thead>
              <tr>
                <th>Banda 1</th>
                <th>Banda 2</th>
                <th>Banda 3</th>
                <th>Tolerancia</th>
                <th>Valor</th>
                <th>Minimo</th>
                <th>Maximo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color:{{bgc1}};">{{ banda_1 }}</td>
                <td style="background-color:{{bgc2}};">{{ banda_2 }}</td>
                <td style="background-color:{{bgc3}};">{{ banda_3 }}</td>
                <td style="background-color:{{bgc4}};">{{ tolerancia }}</td>
                <td>{{ valor }}</td>
                <td>{{ mini }}</td>
                <td>{{ max }}</td>
              </tr>
            </tbody>
            </table>
        </center>
        
    {%endblock%}